<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.edi.initialfantasy.mapper.UserAuthMapper">
    <resultMap id="BaseResultMap" type="org.edi.initialfantasy.bo.userauthrization.UserAuth">
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="auth_id" property="authId" jdbcType="VARCHAR" />
        <result column="auth_type" property="authType" jdbcType="VARCHAR" />
        <result column="auth_token" property="authToken" jdbcType="VARCHAR" />
        <result column="auth_expires" property="authExpires" jdbcType="BIGINT" />
        <result column="is_active" property="isActive" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="saveLoginRecord" parameterType="org.edi.initialfantasy.bo.userauthrization.UserAuth" >
        insert into USERAUTH(user_id,auth_id,auth_type,auth_token,auth_expires,is_active)
        values(#{userId},#{authId},#{authType},#{authToken},#{authExpires},#{isActive})
    </insert>


    <select id="serchLoginRecord" resultMap="BaseResultMap">
        SELECT * FROM USERAUTH WHERE user_id=#{userName}
    </select>


    <update id="updateAuthExpires"  parameterType="org.edi.initialfantasy.bo.userauthrization.UserAuth">
        UPDATE USERAUTH SET auth_expires=#{authExpires} where user_id=#{userId}
    </update>

    <update id="updateActive"  parameterType="org.edi.initialfantasy.bo.userauthrization.UserAuth">
        UPDATE USERAUTH SET is_active=#{isActive} where user_id=#{userId}
    </update>

    <select id="serchAuthByToken" resultMap="BaseResultMap">
        SELECT * FROM USERAUTH WHERE auth_token=#{authToken}
    </select>
</mapper>